[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alchemy = "*"
alembic = "*"
python-dotenv = "*"
pymysql = "*"
argon2-cffi = "*"
pytest = "*"
pyjwt = "*"
rich = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.12"
